<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Movie</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">,<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<w id="app">
  <div class="apptitle"> </div>
  <div class="movie" @wheel.prevent="wheel">
    <div class="cards" :class="{iscartopen: iscartopen}">
      <div class="card" v-for="movie in movies">
        <div class="left">
          <div class="cover" :style="bgcss(movie.cover)"> </div>
        </div>
        <div class="right">
          <h2>{{movie.name}}</h2>
          <h4>{{movie.type}}</h4>
          <p v-html="movie.description"></p>
          <div class="price">{{movie.price}}$</div>
          <button class="add" @click="addCart(movie,$event)">+add to card</button>
        </div>
      </div>
    </div>
  </div>
  <div class="buybox" :style="bgcss(currentMovie.cover)" v-if="currentMovie"></div>
  <div class="fixed-control" @click="iscartopen=!iscartopen"><i class="fas fa-shopping-cart"></i><span>{{cart.length}}</span></div>
  <div class="control" :class="{iscartopen: iscartopen}">
    <div class="panel">
      <h2>Your Cartlist</h2>
      <ul>
        <li v-for="(movie,mid) in cart">
          <div class="thumbnail" :style="bgcss(movie.cover)"></div>
          <h3>{{movie.name}}
            <div class="price">{{movie.price}}$</div>
            <div class="remove" @click="cart.splice(mid,1)">-</div>
          </h3>
        </li>
        <li v-if="cart.length==0">
          <h3>your cart is empty  :(</h3>
        </li>
      </ul>
      <hr/>
      <h3>{{totalprice}}$</h3>
    </div>
  </div>
</w>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
